@font-face {
    font-family: opensans;
    src: url('../resources/OpenSans-Regular.ttf');
}

body {
    background-color: #222222;
    font-family: opensans;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    padding: none;
    font-size: medium;
}

.social {
    touch-action: manipulation;
    /* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Chrome, Opera and Firefox */
}

.prompt {
    font-family: opensans;
    color: white;
    text-align: center;
    font-size: 25px;
    position: fixed;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*outline: 2px solid #555555;*/
}

.button {
    background-color: #4CAFFF;
    font-family: opensans;
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
    color: white;
    outline-style: none;
    border: none;
    cursor: pointer;
    position: fixed;
    width: 50%;
    bottom: 10%;
    left: 25%;
    /* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: #5dc2f5;
}

.button:active {
    background-color: #5591ff;
}

.language-chooser-button 
{
    vertical-align: middle;
    background-color: transparent;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    transition: all ease-in-out 0.01s;
}

.language-chooser-button:hover 
{
    transform: scale(1.05);
}

.user {
    font-size: medium;
    font-family: opensans;
    position: absolute;
    right: 0px;
    color: white;
}

.popup {
    position: absolute;
    right: 0;
    border-bottom-left-radius: 3px;
    background-color: rgb(85, 83, 83);
    z-index: 200;
    max-width: 500px;
    margin-right: 16px;
    margin-top: 50px;
    padding: 8px;
    animation: createBox .25s;
}

.small-profile-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.small-profile-avatar:hover {
    width: 32px;
    height: 32px;
    border-radius: 30%;
    margin-top: 8px;
    margin-right: 15px;
    cursor: pointer;
}

.big-profile-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes closeBox {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }

.username-input {
    padding: none;
    height: 2rem!important;
    width: 320px;
    border:none;
    border-radius: 3px;
    font-size: medium;
    color: white;
    vertical-align: text-bottom;
    line-height: normal;
}

.popup-text {
    color: white;
    font-weight: 200;
    font-size: medium;
    margin-bottom: 5px;
}

.submit-button {
    background-color: #4CAFFF; 
    border: none; 
    color:white; 
    font-weight: 20; 
    height: 34px; 
    padding: 10;
    border-radius: 3px;
    cursor: pointer;
}

.generic-button 
{
    width: fit-content;
    background-color: white; 
    border: gray 1px; 
    color:black; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: thin;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    padding: .4rem;
    font-size: medium;
    font-weight: thin;
}

.generic-button:hover {
    background-color: #f7f8f8;
}

.generic-button:active {
    background-color: lightgray;
    box-shadow: 0 1px 2px 0 rgba(32,32,35,0.5),0 2px 6px 2px rgba(60,64,67,0.3);
    border: black 1px;
}

#signInButton {
    transition: background-color ease-in-out 0.01s;
    background-color: white;
    letter-spacing: .5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    padding: 0 16px;
    vertical-align: middle;
    line-height: 36px;
    height: 36px;
    border-radius: 3px;
    display: inline-block;
}

#signInButton:hover {
    background-color: whitesmoke;
}

.admin-badge 
{
    background-color: #4CAFFF;
    color: white;
    font-weight: thin;
    font: opensans;
    display: inline;
    letter-spacing: 0.1rem;
    margin-right: .5rem;
    border-radius: 3px;
    padding: .2rem;
    cursor: pointer;
}

.admin-badge:hover
{
    background-color: #449ee6;
}

.button-holder 
{
    position:absolute;
    bottom:10px;
}

.login-button {
    text-align: center;
    vertical-align: middle;
    color: black;
    text-decoration: none;
}

.header 
{
    margin: 5px;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    border-radius: 3px;
    display:flex;
}

.header-login
{
    position: absolute;
    right: 0;
    top: 0;
}

.header-title {
    font-size: large;
    font-weight: lighter;
    display: inline;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    text-align: center;
    margin: 0 0.3rem;
}